<!--Details -->
<div class="pub-details">
    <h1>
        {{ details.Pub.Name}}
    </h1>
    <h3>
        Información
    </h3>
    <h4>
        {{ details.Pub.Direction }}
    </h4>
    <div class="assistance">
        <span class="img-ref">
            <div class="img-beer"></div>
        </span>
        <span class="name">
            Asistentes: {{ details.Pub.Going }}
        </span>
    </div>

    <form ng-submit="details.Going()" class="form">
        <button class="button" type="submit">Go</button>
    </form>
</div>
